<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">รับเวชระเบียน</li>
</ol>

<div class="panel panel-primary" ng-controller="reciveController">
    <div class="panel-heading">
        <h3 class="panel-title">รับเวชระเบียน</h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="inputuser" class="col-sm-2 control-label">ค้นหา AN</label>
                <div class="col-sm-10">

                    <input type="text" class="form-control" ng-model="searchAn">

                </div>
            </div>

        </form>



        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ที่</th>
                    <th>AN</th>
                    <th>HN</th>
                    <th>ชื่อผู้ป่วย</th>
                    <th>วันจำหน่าย</th>
                    <th>ผู้ส่ง</th>
                    <th>วันที่ส่ง</th>
                    <th>ผู้รับ</th>
                    <th>วันที่รับ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <div ng-show="mralistS === null">ไม่มีข้อมูล</div>
                <tr ng-repeat="a in mralistS  |filter:searchAn ">
                    <td>{{$index + 1}}</td>
                    <td>{{a.an}}</td>
                    <td>{{a.hn}}</td>
                    <td>{{a.ptname}}</td>
                    <td>{{a.tdchdate}}</td>
                    <td>{{a.user_s}}</td>
                    <td>{{a.tsend_date}}</td>
                    <td>{{a.user_r}}</td>
                    <td>{{a.recivedate}}</td>
                    <td>
                        <button type="button " class="btn btn-primary " ng-click="reciveAn(a.id) ">button</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</div>