<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">ส่งเวชระเบียน</li>
</ol>

<div class="panel panel-primary" ng-controller="sendController">
    <div class="panel-heading">
        <h3 class="panel-title">ส่งเวชระเบียน</h3>
    </div>
    <div class="panel-body">











        <form class="form-horizontal">

            <div class="row">



                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <div class="form-group">
                        <label for="inputAn" class="col-sm-2 control-label">AN</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAn" placeholder="AN" ng-model="form.an">
                        </div>
                    </div>
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="chkAn(form.an)">ตรวจสอบ</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">ข้อมูลผู้ป่วย</h4>
                                </div>
                                <div class="modal-body">
                                    <p>{{an}}</p>
                                    <p>{{ptname}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">


                <div c <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <div class="form-group">
                        <label for="inputuser" class="col-sm-2 control-label">ผู้รับ</label>
                        <div class="col-sm-10">
                            <select name="" id="inputuser" class="form-control" ">

                                <option value=" " ng-repeat="d in listuser ">{{d.u_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <div class="col-sm-offset-2 col-sm-10 ">
                    <button type="button " class="btn btn-default " ng-click="chkAn1(form.an) ">ตกลง</button>
                </div>
            </div>
        </form>
    </div>
</div>